<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 


    <div class="about content">
        <h2>About Us</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis alias sed libero quo et, nostrum eos</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis alias sed libero quo et, nostrum eos</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis alias sed libero quo et, nostrum eos</p>
    </div>
    
<%- include('./partials/footer.ejs') %> 

</body>
</html>